*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --colrThr : #ef8d91;
    --colrTwo : #f3e2d3;
    --colrOne : #bed1d2;
    --colrFor : #8fbcb7;
}
.header{
    min-height: 10vh;
    background-color: var(--colrThr);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0 9%;
}
.header__logo{
    width: 60px;
    margin: 0 0px;
    flex: 1;
    color: var(--colrTwo);
    padding: 0 9%;
    text-transform: capitalize;
}
.header__nav{
    display: flex;
}
.nav__list{
    display: flex;
    justify-content: space-evenly;
    flex: 2;
}
.nav__item{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    text-transform: capitalize;
}
.nav__item >a{
    color: var(--colrTwo);
    text-decoration: none;
}